<div class="holder">
<div class="columna left">
    <h2>Contactor Rapido</h2>
<form action="/contacto" method="post" class="formulario">
<p>
<label for="nombre">Nombre</label>
    <input type="text" name="nombre"/>
</p>
<p>
    <label for="email">Email</label>
        <input type="emeil" name="email"/>
    </p>
    <p>
        <label for="telefono">Telefono</label>
            <input type="text" name="telefono"/>
        </p>
        <p>
            <label for="mensaje">Mensaje</label>
                <textarea name="mensaje"></textarea>
            </p>
            <p class="acciones"><input type="submit" value="Enviar" /></p>
        </form>  
        {{message}}  
              
</div>
<div class="columna left">
<h2>Otras vias de contacto</h2>
<p>Tambien se pueden comunicar con nosotros ....</p>
<ul>
    <li>Telefono: 4575-4519</li>
    <li>Email:contacto@transporteX.com.ar</li>
    <li>Facebook:</li>
    <li>Twitter:</li>
    <li>Skype:</li>
</ul>
</div>
</div>