<div class="holder">
<div class="homeimg">
  <img src="images/home/img02.jpg" alt="Avion" />
</div>
<div class="columnas">
  <div class="bienvenidos left">
    <h2>bienvenidos </h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti
      assumenda pariatur aliquid fuga. Ex soluta veritatis beatae dolorum earum
      ducimus cupiditate, cumque, molestiae iure, nesciunt blanditiis sit
      accusantium rerum dolorem. Lorem ipsum, dolor sit amet consectetur
      adipisicing elit.
    </p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perferendis
      ullam totam id, ipsam aliquid consequuntur harum eum accusamus illo
      eligendi commodi ex esse animi delectus sed illum nostrum similique unde!
    </p>
  </div>
  <div class="testimonios right">
    <h2>testimonio</h2>
    <div class="testimonio">
      <span class="cita">Simplemente exelente</span>
      <span class="autor"><b>.</b>Ricardo fort</span>
    </div>
  </div>
</div>
</div>