<div class="holder">
<div class="historia">
  <h2>Historia</h2>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quae cum
    dolorem consequatur sapiente qui ea, alias repudiandae error libero quas,
    iusto doloribus! Quae autem qui alias saepe. Optio, non?</p>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis rem
    praesentium quisquam odit numquam repellat iste, quae modi laborum provident
    explicabo in facere, accusantium fugiat dolore repudiandae qui, aliquid
    atque!</p>
</div>
<div class="staff">
  <h2>Staff</h2>
  <div class="Personas">
    <div class="persona">
      <img src="images/nosotros/nosotros1.jpg" alt="Ricardo Fort" />
      <h5>Ricardo Fort</h5>
      <h6>Gerente general</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam labore
        aperiam dolores possimus consequatur quisquam debitis obcaecati, eius
        laboriosam quasi vitae ullam voluptate, assumenda fuga. Est odio harum
        nihil.</p>
    </div>
    <div class="persona">
      <img src="images/nosotros/nosotros2.jpg" alt="Donald Trump" />
      <h5>Donald Trump</h5>
      <h6>Gerente Comercial</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam labore
        aperiam dolores possimus consequatur quisquam debitis obcaecati, eius
        laboriosam quasi vitae ullam voluptate, assumenda fuga. Est odio harum
        nihil.</p>
    </div>
    <div class="persona">
      <img src="images/nosotros/nosotros3.jpg" alt="Andr치s Arat칩" />
      <h5>Andr치s Arat칩</h5>
      <h6>Gerente de Sistemas</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam labore
        aperiam dolores possimus consequatur quisquam debitis obcaecati, eius
        laboriosam quasi vitae ullam voluptate, assumenda fuga. Est odio harum
        nihil.</p>
    </div>
    <div class="persona">
      <img src="images/nosotros/nosotros4.jpg" alt="Mirtha Legrand" />
      <h5>Mirtha Legrand</h5>
      <h6>Gerente de Marketing</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam labore
        aperiam dolores possimus consequatur quisquam debitis obcaecati, eius
        laboriosam quasi vitae ullam voluptate, assumenda fuga. Est odio harum
        nihil.</p>
    </div>
    <div class="persona">
      <img src="images/nosotros/nosotros5.jpg" alt="Jack Black" />
      <h5>Jack Black</h5>
      <h6>Gerente Logistica</h6>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam labore
        aperiam dolores possimus consequatur quisquam debitis obcaecati, eius
        laboriosam quasi vitae ullam voluptate, assumenda fuga. Est odio harum
        nihil.</p>
    </div>
  </div>
</div>
</div>