<div class="holder">
<h2>Novedades</h2>
<div class="novedades">
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Nihil corrupti, totam accusantium quasi, nesciunt, dolorem itaque 
         delectus repellendus magni facilis inventore veniam necessitatibus 
         amet illum beatae a. Delectus, magni nulla?</p>
         <hr>
         
</div>
<div class="novedades">
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Nihil corrupti, totam accusantium quasi, nesciunt, dolorem itaque 
         delectus repellendus magni facilis inventore veniam necessitatibus 
         amet illum beatae a. Delectus, magni nulla?</p>
         <hr>
         
</div>
<div class="novedades">
    <h3>Titulo</h3>
    <h4>Subtitulo</h4>
    <p>Descripcion - Lorem ipsum dolor sit amet consectetur adipisicing elit.
         Nihil corrupti, totam accusantium quasi, nesciunt, dolorem itaque 
         delectus repellendus magni facilis inventore veniam necessitatibus 
         amet illum beatae a. Delectus, magni nulla?</p>
         <hr>
         
</div>
</div>