<div class="holder">
  <h2>Servicios</h2>
  <div class="servicio">
    <img src="images/servicios/ferroviario.jpg" alt="tren" />
    <div class="info">
      <h4>Transporte Ferroviario</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laudantium
        tempore veritatis minima, animi ad repudiandae quam iste eum, debitis
        modi adipisci sapiente iusto eveniet in iure dolor reprehenderit ullam!</p>
    </div>
  </div>
  <div class="servicio">
    <img src="images/servicios/aereo.jpg" alt="tren" />
    <div class="info">
      <h4>Transporte Aereo</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laudantium
        tempore veritatis minima, animi ad repudiandae quam iste eum, debitis
        modi adipisci sapiente iusto eveniet in iure dolor reprehenderit ullam!</p>
    </div>
  </div>
  <div class="servicio">
    <img src="images/servicios/maritimo.jpg" alt="tren" />
    <div class="info">
      <h4>Transporte Maritimo</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo laudantium
        tempore veritatis minima, animi ad repudiandae quam iste eum, debitis
        modi adipisci sapiente iusto eveniet in iure dolor reprehenderit ullam!</p>
    </div>
  </div>
</div>